<section class="row">
  <form ng-submit="offersEdit.update()">
    <div class="twelve columns">
      <label>Title</label>
      <input type="text" name="title" placeholder="Title" ng-model="offersEdit.boot.title" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Brand</label>
      <input type="text" name="brand" placeholder="Brand" ng-model="offersEdit.boot.brand" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Player</label>
      <input type="text" name="player" placeholder="Player" ng-model="offersEdit.boot.player" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Player Image</label>
      <input type="text" name="posterImage" placeholder="Poster Image" ng-model="offersEdit.boot.posterImage" class="u-full-width">
    </div>

    <button>Update</button>
  </form>
</section>
