<section class="row">
  <form ng-submit="offersNew.create()">
    <div class="twelve columns">
      <label>Title</label>
      <input type="text" name="title" placeholder="Title" ng-model="offersNew.boot.title" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Brand</label>
      <input type="text" name="brand" placeholder="Brand" ng-model="offersNew.boot.brand" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Player</label>
      <input type="text" name="player" placeholder="Player" ng-model="offersNew.boot.player" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Player Image</label>
      <input type="text" name="posterImage" placeholder="Player Image" ng-model="offersNew.boot.posterImage" class="u-full-width">
    </div>

    <button>Create</button>
  </form>
</section>
